body {
    position: relative;
    background-color: var(--main-background-color);
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    font-family: cursive;
    height: 150vh;
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

ul,
li {
    list-style: none;
    text-decoration: none;
}

:root {
    --main-background-color: #f9f9ff;
    --color-white: #ffffff;
    --main-text-color: #5a5a5a;
    --text-content-color: #222222;
    --color-light-blue: #8893ff;
    --color-light-black: #4a4a4c;
    --color-black: #0f0f0f;
    --color-black-ahalf: rgba(0, 0, 0, 0.5);
    --color-text-description: #777777;
}

.header-wapper .header-content .header-content__menu .header-content__menu-tag.color-light-bule a {
    color: var(--color-light-blue) !important;
}

.position-sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.header-wapper {
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0px 0px 5px 5px rgba(84, 60, 84, 0.37);
}

.header-wapper .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-wapper .header-content .header-content__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 73px;
}

.header-wapper .header-content .header-content__menu .header-content__menu-tag {
    text-transform: uppercase;
    padding: 25px 10px;
}

.header-wapper .header-content .header-content__menu .header-content__menu-icon {
    display: none;
    z-index: 1000;
}

.header-content__menu-tag--has-chidren {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-content__menu-tag--has-chidren .sub-menu {
    position: absolute;
    top: 69px;
    left: -110px;
    min-width: 50px;
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
    min-width: 150px;
    min-height: 70px;
    padding-left: 20px;
    font-size: 12px;
    box-shadow: 0px 0px 5px 5px rgba(84, 60, 84, 0.1);
}

.sub-menu.sub-menu--blog {
    display: none;
}

.sub-menu.sub-menu--pages {
    display: none;
}

.header-content__menu-tag--blog:hover .sub-menu.sub-menu--blog {
    display: block;
}

.header-content__menu-tag--pages:hover .sub-menu.sub-menu--pages {
    display: block;
}

.header-content__menu-tag--has-chidren .sub-menu .sub-menu__children {
    padding-top: 10px;
}

.header-content__menu-tag--has-chidren img {
    width: 10px;
    height: 10px;
    padding-left: 5px;
}

.header-wapper .header-content .header-content__menu .header-content__menu-tag a {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.header-wapper .header-content .header-content__menu .header-content__menu-tag a:active {
    text-decoration: none;
    color: var(--main-text-color);
}

.silde-bar-wapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.silde-bar-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black-ahalf);
}

.silde-bar-content .silde-bar-content__menu {
    position: absolute;
    top: 0;
    left: -30%;
    width: 30%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0px;
    flex-direction: column;
    background-color: var(--color-black);
    z-index: 1000;
    transition: 0.6s;
}

.silde-bar-content .silde-bar-content__menu.disappear-menu {
    left: 0;
}

.silde-bar-content .silde-bar-content__menu .silde-bar-content__menu-tag {
    text-transform: uppercase;
    padding: 15px 10px;
}

.silde-bar-content .silde-bar-content__menu .silde-bar-content__menu-tag--has-children {
    display: flex;
    justify-content: space-between;
}

.silde-bar-content .silde-bar-content__menu .silde-bar-content__menu-tag--has-children img {
    width: 12px;
    height: 12px;
}

.silde-bar-content .silde-bar-content__menu .silde-bar-content__menu-tag a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.silde-bar-content .silde-bar-content__menu .silde-bar-content__menu-tag.color-light-bule a {
    color: var(--color-light-blue) !important;
}

.hamberger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.hamberger .hamberger__bar--top,
.hamberger__bar,
.hamberger__bar--bottom {
    width: 20px;
    height: 2px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.39, 0.83, 0.93, 0.76);
    transition-duration: 0.5s;
    position: absolute;
    cursor: pointer;
}

.hamberger .hamberger__bar--top {
    top: 4px;
}

.hamberger .hamberger__bar--bottom {
    top: -6px;
}

.hamberger .hamberger-before {
    transform: rotate(225deg);
    top: 0;
}

.hamberger .hamberger-after {
    transform: rotate(-225deg);
    top: 0;
}

@media (max-width: 992px) {
    .header-wapper .header-content {
        max-width: 80%;
        justify-content: space-between;
        margin: 0 auto;
    }

    .header-wapper .header-content .header-content__menu .header-content__menu-tag {
        display: none;
    }

    .header-wapper .header-content .header-content__menu .header-content__menu-icon {
        display: block;
    }
}