.home-page {
    width: 100vw;
    overflow-x: hidden;
    color: var(--text-content-color);
}

.home-page .about-me {
    max-width: 1200px;
    margin: 0 auto;
}

.home-page .about-me .about-me__introduce,
.about-me__detail {
    padding-top: 170px;
    display: flex;
    width: 100%;
}

.home-page .about-me .about-me__detail {
    padding-top: 0;
    background-color: var(--color-white);
}

.home-page .about-me .about-me__introduce img,
.about-me__detail img {
    width: 400px;
    height: 500px;
}

.home-page .about-me .about-me__detail img {
    width: 300px;
    height: 350px;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description {
    width: 50%;
}

.home-page .about-me .about-me__introduce .about-me__detail--description {
    width: 50%;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description span,
h1,
a {
    text-transform: uppercase;
}

.home-page .about-me .about-me__detail .about-me__detail--description {
    padding-right: 30px;
}

.home-page .about-me .about-me__detail .about-me__detail--description span,
h1,
a {
    text-transform: uppercase;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description h1 {
    font-size: 50px;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description p {
    color: var(--color-text-description);
    margin-bottom: 30px;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description a {
    color: var(--color-white);
    background-color: var(--color-light-blue);
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
}

.home-page .about-me .about-me__detail .about-me__detail--description h1 {
    font-size: 40px;
}

.home-page .about-me .about-me__detail .about-me__detail--description p {
    color: var(--color-text-description);
    margin-bottom: 30px;
}

.home-page .about-me .about-me__detail .about-me__detail--description a {
    color: var(--color-white);
    background-color: var(--color-light-blue);
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .home-page .about-me .about-me__introduce {
        flex-direction: column;
        padding-left: 0;
    }

    .about-me__introduce--description {
        width: 80%;
        margin: 0 auto;
    }

    .home-page .about-me .about-me__introduce .about-me__introduce--description h1 {
        font-size: 35px;
    }

    .home-page .about-me .about-me__introduce figure {
        width: 70%;
        height: 80vw;
        margin: 0 auto;
    }

    .home-page .about-me .about-me__introduce img {
        width: 100%;
        height: 100%;
    }

    .home-page .about-me .about-me__detail {
        flex-direction: column;
        padding-left: 0;
    }

    .about-me__detail--description {
        width: 80%;
        margin: 0 auto;
    }

    .home-page .about-me .about-me__detail .about-me__detail--description h1 {
        font-size: 35px;
    }

    .home-page .about-me .about-me__detail figure {
        width: 65%;
        height: 70vw;
        margin: 0 auto;
    }

    .home-page .about-me .about-me__detail img {
        width: 100%;
        height: 100%;
    }
}

.services {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-white);
}

.services .services-header {
    padding: 60px 0;
    text-align: center;
}

.services .services-header {
    text-align: center;
}

.services .services-header .services-header__description {
    font-size: 14px;
    color: var(--color-text-description);
    max-width: 500px;
    margin: 0 auto;
}

.services .services-content {
    /* display: flex;
    flex-wrap: wrap; */
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}

.services .services-content .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}