.home-page {
    width: 100vw;
    overflow-x: hidden;
    color: var(--text-content-color);
}

.home-page .about-me {
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: var(--main-background-color); */
}

.home-page .about-me .about-me__introduce,
.about-me__detail {
    padding-top: 170px;
    display: flex;
    width: 100%;
}

.home-page .about-me .about-me__detail {
    padding-top: 50px;
    background-color: var(--color-white);
}

.home-page .about-me .about-me__introduce img,
.about-me__detail img {
    width: 400px;
    height: 500px;
}

.home-page .about-me .about-me__introduce figure {
    width: 50%;
}

.home-page .about-me .about-me__detail figure {
    width: 50%;
}

.home-page .about-me .about-me__detail img {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    display: block;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description {
    width: 50%;
}

.home-page .about-me .about-me__detail .about-me__detail--description {
    width: 50%;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description span,
h1,
a {
    text-transform: uppercase;
}

.home-page .about-me .about-me__detail .about-me__detail--description span,
h1,
a {
    text-transform: uppercase;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description h1 {
    font-size: 50px;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description p {
    color: var(--color-text-description);
    margin-bottom: 30px;
}

.home-page .about-me .about-me__introduce .about-me__introduce--description a {
    color: var(--color-white);
    background-color: var(--color-light-blue);
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
}

.home-page .about-me .about-me__detail .about-me__detail--description h1 {
    font-size: 40px;
}

.home-page .about-me .about-me__detail .about-me__detail--description p {
    color: var(--color-text-description);
    margin-bottom: 30px;
}

.home-page .about-me .about-me__detail .about-me__detail--description a {
    color: var(--color-white);
    background-color: var(--color-light-blue);
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .about-me__introduce--description {
        padding-left: 30px;
    }
}


@media (max-width: 768px) {
    .home-page .about-me .about-me__introduce {
        flex-direction: column;
        padding-left: 0;
    }
    
    .about-me__introduce--description {
        width: 80%;
        margin: 0 auto;
    }
    
    .home-page .about-me .about-me__introduce .about-me__introduce--description h1 {
        font-size: 35px;
    }
    
    .home-page .about-me .about-me__introduce figure {
        width: 70%;
        height: 80vw;
        margin: 0 auto;
    }
    
    .home-page .about-me .about-me__introduce img {
        width: 100%;
        height: 100%;
    }
    
    .home-page .about-me .about-me__detail {
        flex-direction: column;
        padding-left: 0;
    }
    
    .about-me__detail--description {
        width: 80%;
        margin: 0 auto;
    }
    
    .home-page .about-me .about-me__detail .about-me__detail--description h1 {
        font-size: 35px;
    }
    
    .home-page .about-me .about-me__detail figure {
        width: 65%;
        height: 70vw;
        margin: 0 auto;
    }
    
    .home-page .about-me .about-me__detail img {
        width: 100%;
        height: 100%;
    }
}

.services {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-white);
    padding-bottom: 100px;
}

.services .services-header {
    padding: 60px 0;
    text-align: center;
}

.services .services-header {
    text-align: center;
}

.services .services-header .services-header__description {
    font-size: 14px;
    color: var(--color-text-description);
    max-width: 500px;
    margin: 0 auto;
}

.services .services-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin: -12px; */
}

.services .services-content .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33.333333%;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
}

.services .services-content .card p{
    color: var(--color-text-description);
}

.services .services-content .card:hover :not(:last-child) {
    color:var(--color-very-light-blue);
}

.services .services-content .card .color-icon-card {
    width: 40px;
    height: 40px;
}

.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
}

@media (max-width: 992px) {
    .services .services-content .card {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .services .services-content .card {
        width: 100%;
        text-align: center;
    }
}

.statistical {
    min-height: 300px;
    background-color: var(--color-blue-one);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    width: 100vw;
    flex-wrap: wrap;
}

.statistical .statistical__count span{
    font-weight: 800;
    font-size: 36px;
}

@media (max-width: 768px) {
    .statistical .statistical__count {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .statistical .statistical__count {
        width: 100%;
        margin: 20px 0;
    }
}

.feature {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.feature .feature__title {
    text-align: center;
}

.feature .feature__title h2{
    margin-bottom:  5px;
    letter-spacing: 2px;
}

.feature .feature__title span {
    font-size: 13px;
    color: var(--color-text-description);
}

/* tabs */
.feature__content .tab {
    margin-top: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

.tab .tablinks {
    text-transform: uppercase;
    margin: 0 20px;
    font-weight: 600;
    cursor: pointer;
}

.feature__content .tabcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px auto;
    /* gap: 20px; */
}

.feature__content .tabcontent .tabContent__card {
    padding: 20px 10px;
    text-align: center;
}

.tabContent__card .tabcontent__title p {
    color: var(--color-text-description);
}

.feature__content .tab .tablinks.active {
    color: cornflowerblue;
}

.tabContent__card :hover .card-images .slay-images{
    display: block;
}

.tabContent__card .card-images {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .tabContent__card .card-images img{
    position: absolute;
    top: 0;
    left: 0;
} */


.tabContent__card .card-images .slay-images {
    width: 100%;
    height: 100%;
    background-color: var(--color-black-ahalf);
    display: none;
}

.client-feedback {
    background-color: var(--main-background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 80px 0;
}

.client-feedback .client-feedback__title p{
    color: var(--color-text-description);
    font-size: 13px;
}

.client-feedback .client-feedback__carousel {
    margin-top: 60px;
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.client-feedback .client-feedback__carousel .carousel-slider {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 20px;
    background-color: var(--color-white);

}

.client-feedback .client-feedback__carousel .carousel-slider img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.client-feedback .client-feedback__carousel .carousel-slider .carousel-slider__description {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    text-align: left;
}

.client-feedback .client-feedback__carousel .carousel-slider .carousel-slider__description span {
    color: var(--color-text-description);
}

.control-carousel {
    width: 50px;
    height: 80px;
    box-shadow: -14.142px 14.142px 20px 0 rgba(157,157,157,.2);
}

.control-carousel .control-carousel__arrow {
    background-color: var(--color-white);
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    cursor: pointer;
}

.control-carousel .control-carousel__arrow:hover{
    background-color: var(--color-very-light-blue);
}

.lnr-arrow-up, .lnr-arrow-down {
    font-size: 13px;
}

/* ===  your-plan  === */
.your-plan {
    /* width: 80%; */
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 80px 0;
    margin: 50px auto;
    padding: 10px 0;
}

.your-plan .your-plan__title span{
    color: var(--color-text-description);
    font-size: 13px;
}

.your-plan .your-plan__package {
    margin-top: 60px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.your-plan .your-plan__package .package {
    width: 25%;
    background-color: var(--main-background-color);
    padding: 20px;
    transition: 1s;
    border-radius: 10px;
}

.your-plan .your-plan__package .package__header .package__header--number {
    padding: 50px;
    border-radius: 50%;
    width: fit-content;
    margin:  0 auto;
    background-color: var(--color-border-one);
    box-shadow: inset 0 0 0 30px var(--color-border-two);
    cursor: pointer;
}
.your-plan .your-plan__package .package__header h3 {
    margin-bottom: 5px;
}

.your-plan .your-plan__package .package__header span {
    color: var(--color-text-description);
    font-size: 13px;
}

.your-plan .your-plan__package .package .package__content {
    margin-top: 30px;
    font-size: 13px;
}

.your-plan .your-plan__package .package .package__content p {
    border-top: 1px solid var(--color-text-description);
    padding-top: 10px;
    color: var(--color-text-description);
}

.your-plan .your-plan__package .package .package__content p:last-child {
    border-bottom: 1px solid var(--color-text-description);
    padding-bottom: 10px;
}

.your-plan .your-plan__package .package .price, .buy-now {
    color: var(--text-content-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    margin: 10px 0 20px 0;
}

.your-plan .your-plan__package .package .buy-now {
    color: var(--text-content-color);
    font-size: 30px;
    display: none;
}

/* === package--one === */
.your-plan .your-plan__package .package.package--one:hover {
    color: var(--color-white)!important;
    background-color: var(--color-very-light-blue);
}

.your-plan .your-plan__package .package.package--one:hover .package__header--number  {
    background-color: var(--color-border-three);
    box-shadow: inset 0 0 0 30px var(--color-border-four);
}

.your-plan .your-plan__package .package.package--one:hover .package__header span  {
    color: var(--color-white)!important;
}

.your-plan .your-plan__package .package.package--one:hover .package__content p  {
    color: var(--color-white)!important;
}

.your-plan .your-plan__package .package.package--one:hover .buy-now  {
    background-color: var(--color-white);
    display: block;
    font-size: 20px;
    padding: 10px 0;
}

.your-plan .your-plan__package .package.package--one:hover .price  {
    display: none;
}

/* === package--two === */
.your-plan .your-plan__package .package.package--two:hover {
    color: var(--color-white)!important;
    background-color: var(--color-very-light-blue);
}

.your-plan .your-plan__package .package.package--two:hover .package__header--number   {
    background-color: var(--color-border-three);
    box-shadow: inset 0 0 0 30px var(--color-border-four);
}

.your-plan .your-plan__package .package.package--two:hover .package__header span  {
    color: var(--color-white)!important;
}

.your-plan .your-plan__package .package.package--two:hover .package__content p  {
    color: var(--color-white)!important;
}

.your-plan .your-plan__package .package.package--two:hover .buy-now  {
    background-color: var(--color-white);
    display: block;
    font-size: 20px;
    padding: 10px 0;
}

.your-plan .your-plan__package .package.package--two:hover .price  {
    display: none;
}

/* === package--three === */
.your-plan .your-plan__package .package.package--three:hover {
    color: var(--color-white)!important;
    background-color: var(--color-very-light-blue);
}

.your-plan .your-plan__package .package.package--three:hover .package__header--number   {
    background-color: var(--color-border-three);
    box-shadow: inset 0 0 0 30px var(--color-border-four);
}

.your-plan .your-plan__package .package.package--three:hover .package__header span  {
    color: var(--color-white)!important;
}

.your-plan .your-plan__package .package.package--three:hover .package__content p  {
    color: var(--color-white)!important;
}

.your-plan .your-plan__package .package.package--three:hover .buy-now  {
    background-color: var(--color-white);
    display: block;
    font-size: 20px;
    padding: 10px 0;
}

.your-plan .your-plan__package .package.package--three:hover .price  {
    display: none;
}

/* === package--four === */
.your-plan .your-plan__package .package.package--four:hover {
    color: var(--color-white)!important;
    background-color: var(--color-very-light-blue);
}

.your-plan .your-plan__package .package.package--four:hover .package__header--number   {
    background-color: var(--color-border-three);
    box-shadow: inset 0 0 0 30px var(--color-border-four);
}

.your-plan .your-plan__package .package.package--four:hover .package__header span  {
    color: var(--color-white)!important;
}

.your-plan .your-plan__package .package.package--four:hover .package__content p  {
    color: var(--color-white)!important;
}

.your-plan .your-plan__package .package.package--four:hover .buy-now  {
    display: block;
    background-color: var(--color-white);
    font-size: 20px;
    padding: 10px 0;
}

.your-plan .your-plan__package .package.package--four:hover .price  {
    display: none;
}

@media screen and (max-width: 992px) {
    .your-plan .your-plan__package{
        flex-wrap: wrap;
    }
    
    .your-plan .your-plan__package .package{
        width: 50%;
        margin-top: 20px;
        gap: 20px;
    }
}

@media screen and (max-width: 576px) {
    .your-plan .your-plan__package .package{
        width: 100%;
    }
}


/* === Post our blog === */
.post-our-blog {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    background-color: var(--main-background-color);
    padding: 100px 0;
}

.post-our-blog .post-our-blog__header {
    text-align: center;
    margin: 0 auto;
    max-width: 70vw;
    margin-bottom: 70px;
}

.post-our-blog .post-our-blog__header span {
    color: var(--color-text-description);
    font-size: 14px;
}

.post-our-blog .post-our-blog__content {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 0.5%; */
}

.post-our-blog .post-our-blog__content .post-card {
    width: 32%;
    /* padding: 10px; */
    /* min-height: 200px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 10px;  */
}

.post-our-blog .post-our-blog__content .post-card img {
    width: 100%;
}

.post-our-blog .post-our-blog__content .post-card .post-card__info {
    display: flex;
    padding: 15px 0;
    align-items: center;
}

.post-our-blog .post-our-blog__content .post-card .post-card__info > img{
    margin-right: 15px;
}

.post-our-blog .post-our-blog__content .post-card .post-card__info > span {
    font-size: 13px;
    color: var(--text-content-color);
}

.post-our-blog .post-our-blog__content .post-card .post-card__info img {
    width: 30px;
    height: 30px;
}

.post-our-blog .post-our-blog__content .post-card .post-card__time {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-text-description);
    color: var(--color-text-description);
    padding-bottom: 15px;
    font-size: 13px;
}

.post-our-blog .post-our-blog__content .post-card .post-card__time > *{
    margin-right: 15px;
}

.post-our-blog .post-our-blog__content .post-card .post-card__content p{
    color: var(--color-text-description);
}